@font-face {
  font-family: 'Maison Neue';
  src:  url('../fonts/MaisonNeue-Book.ttf') format('truetype');
}

@font-face {
  font-family: 'Px Grotesk';
  src: url('../fonts/Px-Grotesk-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Px Grotesk Bold';
  src: url('../fonts/PxGrotesk-Bold.otf') format('opentype');
}

* {
  font-family: 'Maison Neue';
  color: #333333;
}

header {
  border-bottom: 1px solid #E6E6E6;
  position: relative;
  display: block;
  height: 100px;
}

h1 {
  font-size: 24px; 
  color: #333333;
  text-align: center;
  margin: auto;
}

h2 {
  font-size: 18px;
  text-align: center;
}

  #project-title,
  #project-title a {
    font-family: 'Px Grotesk Bold';
    font-size: 24px;
    transition: all 300ms ease-in;
  }

  #project-title a:hover {
    color: #00BDE7;
  }

  .left {
    text-align: left;
    margin-bottom: 5px;
  }

  #project-description {
    text-align: left;
    color: #999999;
  }

  #main-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

#title {
  position: absolute;
  width: auto;
  left: 50%;
  margin: 25px 0;
  transform: translateX(-50%);
  font-family: 'Px Grotesk Bold';
  font-size: 32px;
}

p {
  font-size: 12px;
  line-height: 1.5rem;
  text-align: center;
}

form p {
  font-size: 16px;
}

.center {
  margin: 10px 0;
  position: relative;
  left: 50%;
  transform: translateX(-40%);
}

#register,
#about,
#login {
  margin-top: 8vh;
  font-family: 'Px Grotesk';
}

#welcome,
#create,
#edit,
#submit {
  margin-top: 5vh;
  font-family: 'Px Grotesk';
}

#top-h2 {
  margin: 5vh auto;
  font-family: 'Px Grotesk';
}

.caption {
  color: #999999;
}

.form {
  width: 100vw;
  margin: auto;
  text-align: center;
}

.field {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 0;
}

input,
textarea {
  margin-left: 5px;
}

input::placeholder,
textarea::placeholder {
  font-family: 'Px Grotesk';
  font-size: 14px;
  opacity: 0.5;
  padding-bottom: 1px;
}

input[type="text"],
input[type="password"],
textarea {
  margin-top: 10px;
  width: 200px;
  height: 30px;
  border: none;
  border-bottom: 1px solid #cccccc;
  outline: none;
  color: #333333;
  font-family: 'Px Grotesk';
  font-size: 14px;
  padding-left: 10px;
  text-align: left;
}

textarea {
  border: 1px solid #cccccc;
  margin-top: 20px;
  line-height: 1.2rem;
  width: 300px;
  height: 70px;
}

.radio-group {
  font-size: 14px;
  border: solid 1px #7C77BC;
  margin: 20px;
  border-radius: 5px;
  display: inline-flex;
  overflow: hidden;
  padding: 0;
}

input[type="radio"] {
  position: absolute;
  visibility: hidden;
}

#radio-label {
  color: #7C77BC;
  display: inline-block;
  cursor: pointer;
  padding: 5px 20px;
}

input[type="radio"]:checked + #radio-label {
  color: #FAFAFA;
  background: #7C77BC;
}

#radio-label + input[type="radio"] + #radio-label {
  border-left: solid 1px #7C77BC;
}

button,
input[type="submit"] {
  cursor: pointer;
  width: 150px;
  height: 40px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  background-color: #00BDE7;
  color: #FAFAFA;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  transition: all 300ms ease-in;
}

button:hover,
input[type="submit"]:hover {
  background-color: #0097B8;
}

button a {
  color: #FAFAFA;
}

.buttons {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

#info-wrapper {
  margin-left: 30px;
}

.info-row {
  text-align: left;
  margin: 0 25px 10px 25px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e6e6e6;
}

.info-row img {
  height: 12px;
  opacity: 0.5;
}

.info-title {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #999;
  padding: 5px 0;
}

.info {
  font-size: 12px;
}

.alert-box {
  position: relative;
  left: -10px;
  width: 100vw;
  padding: 12px 50px;
  background-color: #00BDE7;
  color: #FAFAFA;
  font-size: 12px;
  transition: transform 400ms ease-in;
}

.success {
  background-color: #5BBE41;
}

.notice,
.error {
  background-color: #7C77BC;
}

.close {
  position: absolute;
  right: 15vw;
  color: #FAFAFA;
}

.hide {
  transform: translateX(-100%);
}

input[name="title"],
input[name="github"],
input[name="external_uri"],
input[name="video_url"],
input[name="blog_url"],
textarea[name="description"] {
  width: 400px;
}

.column {
  flex-direction: column;
  align-items: flex-start;
  transform: translateX(8%);
  }

.edit {
  padding: 0 10px;
  margin-bottom: -10px;
}

#delete {
  background-color: #FAFAFA;
  color: #7C77BC;
  border: 2px solid #7C77BC;
  transition: all 300ms ease-in;
}

#delete:hover {
  background-color: #7C77BC;
  color: #FAFAFA;
}

.card {
  width: 300px;
  padding: 25px 30px;
  border: 1px solid #e6e6e6;
  box-shadow: 0px 4px 8px #999999;
}

a {
  text-decoration: none;
  color: #333333;
}

.menu {
    position: fixed; 
    top: 0;
    left: 0;
    height: 100vh;
    width: 400px;
    background-color: #FAFAFA;
    transform: translateX(-100%);
    z-index: 1;
    transition: transform 0.5s ease-in;
    font-size: 32px;
    line-height: 2.5rem;
  }
      .menu-toggle {
        position: fixed;
        top: 45px;
        left: 50px;
        z-index: 99;
      }
      .open {
        transform: translateX(0%);
      }
  
  nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 65px; 
  }
      nav a {
        display: block;
        margin-bottom: 20px;
        font-size: 28px;
        font-weight: 700;
        transition: all 200ms ease-in;
      }

      nav a:hover {
        color: #00BDE7;
      }

      nav img {
        height: 18px;
      }

.main {
  transition: all 400ms ease-in;
}

.translucent {
  opacity: 0.7;
}
  
#link-blue {
  color: #00BDE7;
  position: relative;
  text-decoration: none;
  transition: all 300ms ease-in;
}

#link-blue:hover {
  color: #0097B8;
}

.projects {
  display: flex;
  flex-wrap: wrap;
}

.project {
  margin: auto;
  text-align: center;
  width: 400px;
  height: 100%;
  padding: 15px;
}

.border {
  width: 75vw;
  margin: auto;
  padding: 3vh 0;
  border: 1px solid #E6E6E6;
}

.video-wrapper {
  width: 600px;
  float: left;
}

.video {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#brand-1 {
  display: inline-block;
  background: #00BDE7;
  margin: 15px auto;
  width: 50px;
  padding: 1px 5px;
  border-radius: 15px;
  color: #FAFAFA;
}

#description {
  font-size: 10px;
  line-height: 1.2rem;
  height: 35px;
  overflow: auto;
  margin: 0 25px;
  color: #999999;
  text-align: center;
}

.small {
  width: auto;
  margin: 0;
}

.large {
  width: 500px;
}

.extra-large {
  width: 75vw;
}

.transition {
  transition: all .4s ease-in-out;
}

.nano-content {
  margin-right: 15px;
  height: 80px;
  z-index: 3;
  position: absolute;
  top: -10px;
  right: 3vw;
}

.nano-content li {
  list-style-type: none;
  margin-top: 15px;
}

.nano-content li.active ul {
  display: block;
}

.nano-content li a {
  color: #333;
  letter-spacing: 0.5px;
  text-decoration: none;
  display: block;
  padding: 3px 0;
  font-size: 12px;
  outline: 0;
  transition: all 200ms ease-in;
}

.nano-content ul {
  display: none;
}

.nano-content ul li {
  background: #FAFAFA;
  padding: 2px;
  margin: 0;
  border-bottom: 1px solid #cccccc;
}

.nano-content ul li a {
  font-size: 12px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 10px;
  transition: all 300ms ease-in;
}

.nano-content ul li a:hover {
  color: #00BDE7;
}

.placeholder {
  width: 110px;
  padding: 10px 15px;
  letter-spacing: 0.5px;
  font-size: 12px;
  color: #999999;
  cursor: pointer;
  border: 1px solid #E6E6E6;
  display: flex; 
  justify-content: center;
  align-items: center;
  transition: all 400ms ease-in;
}

.placeholder:hover {
  color: #E6E6E6; 
}

.placeholder img {
  height: 15px;
  margin-left: 5px;
}

.about-content {
  width: 550px;
  margin: auto;
  margin-top: 25px;
}

.about-content p {
  width: 500px;
  margin: 15px auto;
}

hr {
  width: 520px;
  color: #999999;
}

.about-caption strong {
  font-family: 'Px Grotesk Bold';
  font-size: 12px;
  margin: 15px auto;
}

footer p {
  position: relative;
  top: 5vh;
  bottom: 0vh;
  margin-bottom: 5vh;
  color: #999999;
  font-size: 10px;
  text-align: center;
}