<h1 id="register">Register</h1>

<p class="caption">Try to use your Learn.co username to prevent duplicates!</p>

<div class="form card">
    <form method="POST" action="/register">

        <div class="field">
            <input type="text" name="username" placeholder="Username"/>
        </div>

        <div class="field">
            <input type="text" name="email" placeholder="E-mail"/>
        </div>
            
        <div class="field">
            <input type="password" name="password" placeholder="Password"/>
        </div>

    <input type="submit" id="submit" value="Sign Up"/>

    </form>
</div>

<p>Or click <a href="/login" id="link-blue">here</a> to login.</p>
