<h1 id="register">Register Here!</h1>

<p>Try to use your Learn.co username to prevent duplicates!</p>

<div class="form">
    <form method="POST" action="/register">

        <p>Username: <input type="text" name="username"></p>
        <p>E-mail: <input type="text" name="email"></p>
        <p>Password: <input type="password" name="password"></p>

    <input type="submit" id="submit" value="Sign Up">

    </form>
</div>