<h1 id="login">Login Here!</h1>

<p>Welcome back!</p>

<div class="form card">
  <form method="POST" action="/login">

      <p>Username: <input type="text" name="username"></p>
      <p>Password: <input type="password" name="password"></p>

    <input type="submit" id="submit" value="Log In">

  </form>

  <p>Or click <a href="/register" id="link-blue">here</a> to register.</p>
</div>