<h1 id="login">Login</h1>

<p class="caption">Welcome back!</p>

<div class="form card">
  <form method="POST" action="/login">

      <div class="field">
          <input type="text" name="username" placeholder="Username">
      </div>

      <div class="field">
          <input type="password" name="password" placeholder="Password">
      </div>

    <input type="submit" id="submit" value="Log In"/>

  </form>

  <p>Or click <a href="/register" id="link-blue">here</a> to register.</p>
</div>