<h1 id="about">About</h1>

<div class="about-content">

    <p class="about-caption"><strong>A space for Flatiron School's community to showcase their proudly made projects.</strong></p>

    <hr>

    <p>Most Flatiron students, alumni, and staff have created some kind of web projects — be it script, or applications, or a static blog — but what happens once the projects pass and life goes on? Flatiron Hall serves as a library of projects for everyone, including you, to submit those project that you've spent so much time and effort working on. This is a space for learning, as well as for inspiration.</p>

    <p>Have any feature requests? Do check out the GitHub repository <a href="https://github.com/jouissances/flatiron-hall" id="link-blue">here</a> and let us know!</p>

    <p>Happy coding!</p>

</div>